duckdb==0.9.1
Jinja2==3.1.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
memray==1.10.0
numpy==1.26.1
pandas==2.1.1
polars==0.19.9
pyarrow==13.0.0
Pygments==2.16.1
python-dateutil==2.8.2
pytz==2023.3.post1
rich==13.6.0
six==1.16.0
tzdata==2023.3
